### 연습문제 1

In [2]:
kor=80
eng=75
math=55

aver = (kor+eng+math)/3
print(aver)

70.0

### 연습문제 2

In [4]:
num = 13

if( num % 2 == 0 ):
    print("%d는 짝수 입니다."%num)
else:
    print("%d는 홀수 입니다."%num)

13는 홀수 입니다.

### 연습문제 3

In [5]:
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print("yymmdd=%s"%yymmdd)
print("num=%s"%num)

yymmdd=881120
num=1068234

### 연습문제 5

In [7]:
a = "a:b:c:d"
b = a.replace(':', '#')
print(b)

a#b#c#d

### 연습문제 6

In [11]:
a = [1, 3, 5, 4, 2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### 연습문제 7

In [14]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 연습문제 8

In [20]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 연습문제 9

In [27]:
a = dict()
a['name']='python'
a[('a',)]='python'
# a[[1]] = 'python'
a[250]='python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

### 연습문제 10

In [29]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 연습문제 11

In [32]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
b

[1, 2, 3, 4, 5]

### 연습문제 12

In [35]:
from copy import copy
a = [1,2,3]
b = copy(a)
a[1] = 4
print(b)

[1, 2, 3]

## 3장 연습문제

### 연습 문제 3

In [39]:
n=3
for i in range(n):
    print(' '*(n-i-1), end='')
    print('*'*(i*2+1))

  *
 ***
*****

In [41]:
n=11
inc = 0 
flag = 1
for i in range(n):
    print(' '*(n-inc-1), end='')
    print('*'*(inc*2+1))
    if( i == n//2 ):
        flag = -flag
    inc += flag

          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *

In [47]:
n=11
inc = 0 
flag = 1
for i in range(n):
    print('*'*(inc+1) , end='')
    if((n - (inc+1)*2)>0):
        print(' '*(n - (inc+1)*2), end='')
    if( i == n//2 ):
        print('*'*inc)
    else:
        print('*'*(inc+1))
    if( i == n//2 ):
        flag = -flag
    inc += flag

*         *
**       **
***     ***
****   ****
***** *****
***********
***** *****
****   ****
***     ***
**       **
*         *

## 함수

In [48]:
a = 3
b = 4
a+b

7

In [50]:
def add(a,b):
    return a+b

In [53]:
c = add(1,2)
print(c)
print(add(3,4))

3
7

### 입력값이 없는 함수

In [54]:
def say():
    return 'Hi'

a = say()
print(a)

Hi

### 결과값이 없는 함수

In [56]:
def add(a,b):
    print( "%d + %d = %d"%(a, b, a+b))

a = add(3,4)
print(a)

3 + 4 = 7
None

### 입력값도 없고 결과값도 없는 함수

In [57]:
def say():
    print("Hi")

say()

Hi

### 매개변수 지정하여 호출하기

In [61]:
def add(a,b):
    return a+b

add(3,4)

7

In [62]:
def add(a=3,b=4):
    return a+b

add()

7

In [63]:
add(10)

14

### 여러 개의 입력값을 받는 함수 만들기

In [66]:
def add_many( *args ): # args = (1,2,3,4,5)
    result = 0
    for i in args:
        result = result + i
    return result

add_many( 1,2,3,4,5)

15

In [69]:
def add_many( choice, *args ): # args = (1,2,3,4,5)
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
        
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

add_many( 'mul' , 1,2,3,4,5)

120

In [72]:
def print_kwargs( **kwargs ):
    print(kwargs)

    
print_kwargs( a=1 )
print_kwargs( name='foo', age=3 )

{'a': 1}
{'name': 'foo', 'age': 3}

###  함수의 결과값은 하나다.

In [73]:
def add_and_mul(a,b):
    return a+b, a*b # return (a+b, a*b)

result = add_and_mul(3,4)
print(result)

(7, 12)

In [74]:
c, d = add_and_mul(3,4)
print(c, d)

7 12

In [75]:
a, b = (1,2)

In [76]:
print(a)
print(b)

1
2

In [77]:
def add_and_mul(a,b):
    return a+b
    return a*b

result = add_and_mul(3,4)
print(result)

7

In [79]:
def say_myself( name, old, man=True):
    pass

say_myself("홍길동", 27)

### 함수 안에서 선언한 변수의 효력 범위

In [81]:
a = 1

def vartest(a):
    a = a+1
    print('vartest():%d'%a)
    
vartest(a)
print(a)

vartest():2
1

In [84]:
def vartest(local):
    local = local+1
    print('vartest():%d'%local)
    
vartest(3)
print(local)

vartest():4

NameError: name 'local' is not defined

In [85]:
def vartest(local):
    local = local+1
    print('vartest():%d'%local)
    return local
    
result = vartest(3)
print(result)

vartest():4
4

In [86]:
a = 1

def vartest():
    global a
    a = a+1
    print('vartest():%d'%a)
    
vartest()
print(a)

vartest():2
2

### 람다(익명의 함수)

In [89]:
add = lambda a,b : a+b
type(add)
result = add(2,4)
print(result)

6

## 파일 읽고 쓰기

In [91]:
f = open( "새파일.txt", "w") # WRONLY | CREAT | TRUNC
f.close()

In [92]:
f = open( "새파일.txt", "w") # WRONLY | CREAT | TRUNC

for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)
    
f.close()

### 파일을 읽는 방법

In [93]:
f = open( "새파일.txt", "r") # RDONLY 

while True:
    line = f.readline()
    if not line :  break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [94]:
f = open( "새파일.txt", "r") # RDONLY 

lines = f.readlines()
for line in lines:
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [95]:
f = open( "새파일.txt", "r") # RDONLY 

data = f.read()
print(data)
    
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [96]:
f = open( "새파일.txt", "a") # WRONLY | APPEND

for i in range(11,21):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)
    
f.close()

In [97]:
f = open( "새파일.txt", "r") # RDONLY 

data = f.read()
print(data)
    
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

### with문과 함께 사용하기

In [98]:
f = open( "foo.txt", "w") 

f.write('Life is too short, you need python')
    
f.close()

In [99]:
with  open( "foo.txt", "w")  as f:
    f.write('Life is too short, you need python')

### 파이썬 객체지향 프로그램

In [103]:
class Calculator:
    def __init__(self):
        print("Calculator.__init__()", self)
        self.result = 0
        
    def add(self, num):
        print("Calculator.add()", self)
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

Calculator.__init__() <__main__.Calculator object at 0x000001DADBD0EF08>
Calculator.__init__() <__main__.Calculator object at 0x000001DADBD0EF48>
Calculator.add() <__main__.Calculator object at 0x000001DADBD0EF08>
3
Calculator.add() <__main__.Calculator object at 0x000001DADBD0EF08>
7
Calculator.add() <__main__.Calculator object at 0x000001DADBD0EF48>
3
Calculator.add() <__main__.Calculator object at 0x000001DADBD0EF48>
10

### 클래스 구조 만들기

In [104]:
class Fourcal:
    pass

In [105]:
a = Fourcal()
id(a)

2039502403336

In [106]:
type(a)

__main__.Fourcal

In [107]:
a.setdata(4, 2)

AttributeError: 'Fourcal' object has no attribute 'setdata'

In [116]:
class Fourcal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second 
        return result

In [117]:
a = Fourcal()
a.setdata(4,2)
print(a.first)
print(a.second)
print(a.add())

4
2
6